body{
    background-color: rgb(8, 83, 153);
}
canvas{
    border: 3px solid rgb(1, 2, 49);
    border-radius: 20px;
    background-image: url("imgs/cenario.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    image-rendering: pixelated;
    cursor:none; 
}